extends layout

block content

	h1= title
	
	h1.
		PACKING LIST MAKER
	h2.
		Don't forget anything!
	//- .img-responsive for FWD scaling and zooming of image
	img.img-responsive(src="/images/suitcase315.jpg", alt="suitcase image")

	hr.highlight

	//- a(href="/PackingList").btn.btn-primary.btn-lg Press here to start creating your list
	form#newListForm(method='post', action='/add')
		h3 Create a new list:
			input.form-control.namefield(name="packingListName", type="text", placeholder="packing list name")
		div.addPlace
			h4  Add your items: 
			div#packingListItemContainer

			h2#new-item
			button.btn.btn-success.btn-lg Save this list

	hr.highlight
		
	
	//- This displays the list of packing lists. 
	//- packingLists_inJade is a copy of the array retrieved from mongo
	//- loops through array to render each packing list as a clickable link
	if packingLists_inJade.length !== 0
		h3 Click to use a Packing List:
		div#result
		ul.list-unstyled.toClick
			for list in packingLists_inJade
				li: a(href='PackingList?name=' + encodeURIComponent(list.packingListName))=list.packingListName





	//- script(src="http://code.jquery.com/jquery-2.0.3.min.js")
	//- script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")
	//- link(rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
	//- script(src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
	//- script(src='/javascripts/main.js')
