extends layout

block content

	h1= title

	h1#title Welcome to your Packing Checklist Dashboard
		
	//- p Welcome to #{title}
	h3.
		Don't forget anything for your trip! Make a packing list!
	img(src="/images/suitcase2.jpg")
	a(href="/PackingList").btn.btn-primary.btn-lg Press here to start creating your list

	br
	
	div#addListHere

	if packingLists_inJade.length !== 0
		p Or open one of your already created lists:
		ul.list-unstyled
			for pl in packingLists_inJade
				createdList = pl.packingListName 
				li= createdList


	script#input-template(type="text/x-handlebars-template").
		<div class='inputRow'>
			<input class='eachCheckbox' type='checkbox'>
			<input class='eachItem' type='text' placeholder='packing list item'>
		</div>


	script(src="http://code.jquery.com/jquery-2.0.3.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")
	link(rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
	script(src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
	script(src='/javascripts/main.js')
