body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.btn {
	margin-left: 0px;
}
input.namefield {
	width: 50%;
	margin-top: 5px;
}
.addPlace {
	margin-left: 40px;
}
input.eachItem {
	margin-left: 25px;
}
